.wordСontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  display: block;
  width: 91px;
  height: 1px;
  background-color: var(--input-normal);
}

.word {
  padding: 0 12px;
}
