/* DEFAULT STYLES */

.default {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid transparent;
  border-radius: 24px;
  color: var(--text-primary);
  text-wrap: wrap;
  font-size: 20px;
  line-height: 1.5;
  transition: var(--transition);
}

.default:hover,
.default:focus,
.default:active,
.default:disabled {
  outline: none;
}

/* BUTTON STYLES */

/* PRIMARY */
.primary {
  background-color: var(--primary);
  box-shadow: var(--shadow-primary);
  border: none;
}

.primary:hover,
.primary:focus,
.primary:active {
  background-color: var(--secondary);
}

.primary:active {
  box-shadow: var(--shadow-inset);
}

.primary:disabled {
  box-shadow: none;
  background-color: var(--primary-muted);
  color: var(--text-muted);
}

/* SECONDARY */
.secondary {
  background-color: var(--white);
  box-shadow: var(--shadow-primary);
}

.secondary:hover,
.secondary:focus {
  border: 1px solid var(--primary);
}

.secondary:active {
  box-shadow: var(--shadow-inset);
}

.secondary:disabled {
  color: var(--text-muted);
  box-shadow: none;
  background-color: var(--secondary-muted);
}

/* GHOST */
.ghost {
  background-color: transparent;
  border: 1px solid transparent;
}

.ghost:hover,
.ghost:focus {
  border: 1px solid var(--primary);
}

.ghost:active {
  box-shadow: var(--shadow-inset);
}

.ghost:disabled {
  color: var(--text-muted);
}

/* LINK */
.link {
  width: fit-content;
  height: fit-content;
  padding: 0;
  font-weight: 600;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--primary);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--secondary);
}

.link:disabled {
  color: var(--text-muted);
  text-decoration: dashed;
}

/* ICON */
.icon {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  opacity: 0.85;
}

.icon:hover,
.icon:focus,
.icon:active {
  opacity: 1;
}

.icon:disabled {
  opacity: 0.6;
}

/* SIZES */

.lg {
  padding: 17px 0;
  width: 320px;
}

.md {
  padding: 16px 44px;
  width: 210px;
}

.sm {
  padding: 16px 31px;
  width: 126px;
}

.xsm {
  padding: 15px 31px;
  width: fit-content;
  height: fit-content;
}

.fit {
  padding: 0;
  width: fit-content;
  height: fit-content;
}
