.userNavList {
  display: flex;
  list-style: none;
  gap: 16px;
}

.userNavList li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 20px 32px;
  width: 126px;
  height: 64px;
  box-shadow: var(--shadow-primary);
  background: var(--white);
  cursor: pointer;
}

.userNavList li:hover,
.userNavList li:focus {
  border: 1px solid var(--primary);
}

.userNavList li:active {
  border: none;
  box-shadow: var(--shadow-inset);
}
