.photoTitle {
  font-size: 20px;
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 16px;
}

.divPhotoThumb {
  position: relative;

  display: flex;
  margin: 0 auto;
  width: 210px;
  height: 156px;
  border-radius: 20px;
  border: 1.32px solid var(--primary);
  margin-bottom: 16px;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  overflow: hidden;
}

.divPhotoThumb:hover,
.divPhotoThumb:focus {
  border-color: var(--secondary);
  box-shadow: var(--shadow-primary);
  background: var(--white);
}

.divPhotoThumb:active {
  box-shadow: var(--shadow-inset);
}

.divPhotoThumb:disabled {
  background: var(--primary-muted);
  border: none;
  box-shadow: none;
}

.userIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photoThumb {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.uploadIcon {
  display: block;
  fill: var(--text-primary);
}

.uploadIcon:disabled {
  fill: var(--text-muted);
}
