.form {
    display: flex;
    flex-direction: column;
    max-width: 610px;
    margin: 80px auto 0;
}

.divFormRegister {
    display: flex;
    flex-direction: column;
}

.registerGroup {
    display: flex;
    gap: 40px;
}

.registerTitle {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    color: var(--main-text-color);
    margin-bottom: 40px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.registerInput {
    padding: 4px;
    margin: 4px;
    border-radius: 6px;
}

.photoTitle {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 16px;
}

.divPhotoThumb {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 210px;
    height: 184px;
    border-radius: 32px;
    border: 1.34px solid var(--input-border-normal);
    background-image: url('../../images/sprite#user');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    margin-bottom: 16px;
}

.photoInputBtn {
    border-radius: 24px;
    padding: 20px 32px;
    width: 210px;
    height: 64px;
}

.registerBtn {
    display: flex;
    margin: 0 auto;
    border-radius: 24px;
    padding: 20px 32px;
    width: 320px;
    height: 64px;
}

.registerNotification {
    color: red;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

.customFileButton {
    display: flex;
    border-radius: 24px;
    padding: 20px 32px;
    width: 210px;
    height: 64px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.15);
    background: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--main-text-color);
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.uploadIcon {
    width: 33px;
    height: 32px;
    display: block;
    fill: var(--main-text-color);
}