.authNavList {
  display: flex;
  list-style: none;
  gap: 16px;
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: none;
  width: 126px;
  height: 64px;
  box-shadow: var(--box-shadow);
  background: var(--white);
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  border: 1px solid transparent;
  transition: var(--transition);
}

.loginBtn:hover,
.loginBtn:focus {
  border: 1px solid var(--secondary-btn-border-hover);
}

.loginBtn:active {
  border: none;
  box-shadow: var(--box-shadow-inset);
}

.loginBtn:disabled {
  background: var(--main-button-disabled-background);
  border: none;
  box-shadow: none;
  color: var(--btn-content-disabled-color);
}

.signUpBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 20px 32px;
  width: 142px;
  height: 64px;
  box-shadow: var(--box-shadow);
  background: var(--main-btn-normal-background);
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  transition: var(--transition);
}

.signUpBtn:hover,
.signUpBtn:focus {
  background: var(--main-btn-hover-background);
}

.signUpBtn:active {
  box-shadow: var(--box-shadow-inset);
  background: var(--main-btn-hover-background);
}

.signUpBtn:disabled {
  background: var(--main-button-disabled-background);
  border: none;
  box-shadow: none;
  color: var(--btn-content-disabled-color);
}
