@import '@fontsource-variable/montserrat';
@import './styles/vars.css';

:root {
  font-family: 'Montserrat Variable', sans-serif;
  font-synthesis: none;
  background-color: var(--main-background);
  color: var(--main-text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
  border: none;
}

input,
textarea {
  font-family: inherit;
}
