.searchBar {
    position: relative;
}

.input {
    border-radius: 24px;
    width: 624px;
    height: 48px;
    background: #f4f4f4;
    border: none;
    padding: 12px 20px;    
}

.input::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #d9d9d9;
}

.input:hover,
.input:focus,
.input:active {
    outline: none;
    color: inherit;
}

.button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 28px;
    height: 28px;
    display: block;
    justify-content: center;
    align-items: center;
}