.searchBar {
    position: relative;
}

.input {
    border: 1px solid #f8bd00;
    border-radius: 20px;
    padding: 20px;
    width: 592px;
    height: 64px;
    margin-right: 96px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #000;
}

.input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #a9a9a9;
}

.input:hover,
.input:focus {
    outline: none;
    color: inherit;
    border: 1px solid #f8a400;
}

.input:active {
    border: 1px solid #f8a400;
    box-shadow: inset 8px 8px 10px 0 rgba(0, 0, 0, 0.15);
    color: inherit;
}

.button {
    position: absolute;
    top: 17px;
    right: 116px;
    width: 28px;
    height: 28px;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.searchIcon {
    display: block;
    width: 28px;
    height: 28px;
    fill: none;
    stroke: #2a2a2a;
}