.searchBar {
  position: relative;
}

.input {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 20px;
  width: 592px;
  height: 64px;
  margin-right: 96px;
  box-shadow: var(--shadow-primary);
  background: var(--white);
  color: var(--text-primary);
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--input-normal);
}

.input:hover,
.input:focus {
  outline: none;
  color: inherit;
  border: 1px solid var(--primary);
}

.input:active {
  border: 1px solid var(--primary);
  box-shadow: var(--shadow-inset);
  color: inherit;
}

.button {
  position: absolute;
  top: 17px;
  right: 116px;
  width: 28px;
  height: 28px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.searchIcon {
  display: block;
  width: 28px;
  height: 28px;
  fill: none;
  stroke: var(--text-primary);
}
